// Mobile


// Desktop

body {
    height: 650px;
    width: 80%;

    background: #f6e6b4;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #f6e6b4 0%, #ed9017 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #f6e6b4 0%, #ed9017 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #f6e6b4 0%, #ed9017 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6e6b4', endColorstr='#ed9017', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


header {
    display: flex;

    justify-content: center;

}

#read {
    color: rgb(66, 139, 139);

}

.bodyWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    background: white;
    border: rgb(66, 139, 139);
    border-style: solid;
    border-radius: 30px;

    box-shadow: 10px 10px 10px 5px #778899;

    .pageTrackerWrapper {

        text-align: center;
        height: 50%;
        border: 3px solid rgb(66, 139, 139);
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
        transition: 0.2s;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);

        }
    }


    .forms {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: #E6E6FA;
        border-style: solid;
        border-radius: 30px;
        height: 100%;
        width: 90%;

        transition: 0.2s;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }
    }



    .listWrapper {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #E6E6FA;
        border-style: solid;
        border-radius: 30px;
        height: 100%;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
        transition: 0.2s;

        &:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
        }

        li {
            cursor: pointer;
        }

    }


    li {
        padding: 3px;
        border: 1px solid rgb(66, 139, 139);
        margin: 5px;
    }

    .checked {
        transition: border 0.1s;
        border: 5px solid rgb(131, 128, 109);

    }


    label {
        margin-left: 5px;
    }

    input[type=text] {
        width: 300px;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
        transition: 0.1s;


    }

    input[type=text]:hover:active {

        border: 3px solid rgb(66, 139, 139);
        outline-color: rgb(66, 139, 139);
    }

    #completeBtn {
        margin: 5px;
    }

    #inprogressList {
        list-style: none;
    }

    ul img {
        width: 20px;
        height: 20px;
    }

    .read {
        display: none;
    }




}
